
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5rem;
  width: 45%;
}